.NavBar {
  height: 50px;
}

.placeholder {
  height: 50px;
}

.Square {
  background-color: white;
  border-radius: 0px;
  border: solid black 1px;
  width: 20px;
  height: 20px;
  margin: 0px;
  padding: 0px;
}

.Board {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.Rows {
  padding-top: -4px;
  padding-bottom: -4px;
  margin-top: -4px;
  margin-bottom: -4px;
}
